{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<!-- Create Profile -->
<div class="w-50 mx-auto py-5">
    <form class="row g-3" method="POST">
        {% csrf_token %}

        <div class="col-12">
            <label for="f_name">First Name</label>
            <input type="text" class="form-control" id="f_name" name="f_name">
        </div>

        <div class="col-12">
            <label for="l_name">Last Name</label>
            <input type="text" class="form-control" id="l_name" name="l_name">
        </div>

        <div class="col-12 mx-auto">
            <label for="email">E-mail Address</label>
            <input type="email" class="form-control" id="email" name="email" maxlength="50">
        </div>

        <div class="col-12 mx-auto">
            <label for="phone_number">Telephone Number</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" minlength="12" maxlength="12">
        </div>

        <div class="col-12">
            <label for="position">Field Position</label>
            <select class="form-select" id="position" name="position">
                <option value="Goalkeeper">Goalkeeper</option>
                <option value="Right-Fullback">Right-Fullback</option>
                <option value="Left-Fullback">Left-Fullback</option>
                <option value="Center-Back">Center-Back</option>
                <option value="Defence">Defence</option>
                <option value="Midfielder">Midfielder</option>
                <option value="Striker">Striker</option>
            </select>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-success">Create Profile</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}