{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Edit Profile -->
<div class="w-50 mx-auto py-5">

    <p class="h3">Edit My Profile</p>
        {% if updated %}
        <div class="alert alert-success" role="alert">
            You have successfully updated your profile.
        </div>

        {% else %}
            {% if user.is_authenticated %}
                <form class="row g-3" method="POST">
                    {% csrf_token %}
                    {{ Edit_MemberForm | crispy }}
                    <div class="col-12 mx-auto">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
</div>

{% endblock %}