{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Members Page  -->
  <div class="event-schedule-area-two" style="margin-top: 20px;">
    <div class="container container-custom">
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Name</th>
                                        <th scope="col">Position</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in members %}
                                    <tr class="inner-box">
                                        <th scope="row">
                                            <span>{{ member.first_name  }} {{ member.last_name }}</span>
                                        </th>
                                        <td>
                                            <span>Defence</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
  </div>
{%endblock%}





