@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  
}

body{
  font-family: raleway, sans-serif;
  font-weight: 300;
  color: #009900
}

h1, h2 {
  font-family: roboto; sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525
}

#logo {
  display: block;
  text-align: left;
  font-size: 280%;
  margin-top: 1px;
  background-color: #009900;
  text-decoration: none;
 
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  
}

#menu, #logo{
  line-height: 75px;
  
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: #252525;
}

#menu a:hover{
  border-bottom: 1px solid #252525;
}

.active {
  border-bottom: 1px solid #252525  ;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#hero-image{
  height: 700px;
  width: 100%;
  background: url('../images/football-2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}

.button {
  position: absolute;
  margin: 150px 100px;
  bottom: 8px;
  left: 16 px;
}
footer {
  bottom: 0;
  
  background-color:#009900;
  width: 100%;
}
.social-media {
  text-align: center;
}

.social-media>li {
  display: inline-block;
  margin-right: 5em;
  vertical-align:bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  color: #fff
}
/*Styles for event page*/
/*.event-img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}*/
.events-container {
  /*position: relative;
  text-align: center;
  color: white;*/
  background-image: url('../images/football-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  /*opacity: 0.5;*/
  padding: 50px;
  
}
h2 {
  text-align: center;
}
 /*.top-left {
  position: absolute;
  top: 50px;
  left: 50px;
}
* {
  box-sizing: border;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-box-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}*/
* {
  box-sizing: border-box;
}
.imageColumn {
  float: left;
  width: 25%;
  padding: 10px;
}

.playersContainer{
  width: 50%;
  margin: 0 auto;
}