@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  
}

body{
  font-family: raleway, sans-serif;
  font-weight: 300;
}

.abt-teamer {
  color:#262626;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000
}

#logo {
  display: block;
  text-align: left;
  font-size: 280%;
  margin-top: 1px;
  background-color: #009900;
  text-decoration: none;
 
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  
}

#menu, #logo{
  line-height: 75px;
  
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: #000;
}

#menu a:hover{
  border-bottom: 1px solid #252525;
}

.active {
  border-bottom: 1px solid #252525  ;
}
.bg-primary{
  background-color: #caf0f8;
}

.hero-image{
  height: 50vh;
  width: 100%;
  background: url('/static/images/A12A2188.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}
.bg-text {
  margin-top: 10px;
}

.bg-text h1 {
  color: white;
  text-align: center;
}

.bg-text p {
  color: white;
  text-align: center;
}
.wrapper {
  background-image: url('https://res.cloudinary.com/dzqqmg1yp/image/upload/v1663087503/static/images/football-9.c3c25ebf63fe.jpg;');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}


img{
  max-width: 100%;
  object-fit: cover;
}

.tbl-container {
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
}
.bdr {
  border-radius: 6px;
  overflow: hidden;
}

.button {
  position: absolute;
  margin: 150px 100px;
  bottom: 8px;
  left: 16 px;
}
footer {
  bottom: 0;
  background-color: #0077b6;
  width: 100%;
}
.social-media {
  text-align: center;
}

.social-media>li {
  display: inline-block;
  margin-right: 5em;
  vertical-align:bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  color: #c2e812
}
.events-container {
  background-image: url('../images/football-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  padding: 50px;
  
}

h2 {
  text-align: center;
}
 
* {
  box-sizing: border-box;
}
.imageColumn {
  float: left;
  width: 25%;
  padding: 10px;
}

.playersContainer{
  width: 50%;
  margin: 0 auto;
}

.navbar-expand-lg .navbar-nav > li > a:hover, .navbar-expand-lg .navbar-nav > li > a:focus {
  color: #000; /*Sets the text hover color on navbar*/
}

.navbar-expand-lg .navbar-nav > .active > a, .navbar-expand-lg .navbar-nav > .active >
      a:hover, .navbar-expand-lg .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-expand-lg {
  background-color: #0f006f;
  border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-expand-lg .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}



.event-schedule-area-two .section-title .title-text h2 {
    margin: 0px 0 15px;
}

.event-schedule-area-two ul.custom-tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}
.event-schedule-area-two ul.custom-tab li {
    margin-right: 70px;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a:hover:before {
    width: 100%;
}
.event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #4125dd;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two ul.custom-tab li a.active {
    color: #4125dd;
}

.event-schedule-area-two .primary-btn {
    margin-top: 40px;
}

.event-schedule-area-two .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.event-schedule-area-two .tab-content .table thead {
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
}
.event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}
.event-schedule-area-two .tab-content .table tbody {
    background: #fff;
}
.event-schedule-area-two .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date {
    color: #252525;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}
.event-schedule-area-two .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr td .r-no span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 20px;
    line-height: 20px;
    color: #cf057c;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #4125dd;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a {
    color: #4125dd;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover {
    color: #4125dd;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.bulletless {
  list-style-type: none;
  padding-left: 0;
}

/* Mobile Responsiveness Start */
@media only screen and (max-width: 600px) {
  .hero-outer {
    width: 95%;
    justify-content: center;
  }
  .member-details {
    width: 90%; 
    margin-right: auto; 
    margin-left: auto;
  }
}
/* Tablet Responsiveness Start */
@media only screen and (min-width: 600px) {
  .hero-outer{
    width: 90%;
    justify-content: center;
  }
  .member-details {
    width: 90%; 
    margin-right: auto; 
    margin-left: auto;
  }
}

/* Laptop Responsiveness Start */
@media only screen and (min-width: 1280px) {
  .hero-outer{
    width: 70%;
    justify-content: center;
  }
  .member-details {
    width: 50%; 
    margin-right: auto; 
    margin-left: auto;
  }
}

/* Desktop Responsiveness Start */
@media only screen and (min-width: 1600px) {
  .hero-outer{
    width: 70%;
    justify-content: center;
  }
  .member-details {
    width: 50%; 
    margin-right: auto; 
    margin-left: auto;
  }
}

.custom-bg{
  background-color: #e6f2ff;
}
