@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  
}

body{
  font-family: raleway, sans-serif;
  font-weight: 300;
  background-color: #052f5f;
}

h1, h2 {
  font-family: roboto; sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000
}

#logo {
  display: block;
  text-align: left;
  font-size: 280%;
  margin-top: 1px;
  background-color: #009900;
  text-decoration: none;
 
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  
}

#menu, #logo{
  line-height: 75px;
  
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: #fff;
}

#menu a:hover{
  border-bottom: 1px solid #252525;
}

.active {
  border-bottom: 1px solid #252525  ;
}

#hero-outer {
  align-content: center;
}

.hero-image{
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dzqqmg1yp/image/upload/v1663020801/static/images/football-3.dabeb5e758ca.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}
.bg-text {
  margin-top: 10px;
}

.bg-text h1 {
  color: white;
  text-align: center;
}

.bg-text p {
  color: white;
  text-align: center;
}




@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}
.event-img {
  background-image: url('https://res.cloudinary.com/dzqqmg1yp/image/upload/v1663087503/static/images/football-9.c3c25ebf63fe.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


.button {
  position: absolute;
  margin: 150px 100px;
  bottom: 8px;
  left: 16 px;
}
footer {
  bottom: 0;
  background-color: #0077b6;
  width: 100%;
}
.social-media {
  text-align: center;
}

.social-media>li {
  display: inline-block;
  margin-right: 5em;
  vertical-align:bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  color: #c2e812
}
.events-container {
  background-image: url('../images/football-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  
  padding: 50px;
  
}
h2 {
  text-align: center;
}
 
* {
  box-sizing: border-box;
}
.imageColumn {
  float: left;
  width: 25%;
  padding: 10px;
}

.playersContainer{
  width: 50%;
  margin: 0 auto;
}

.navbar-expand-lg .navbar-nav > li > a:hover, .navbar-expand-lg .navbar-nav > li > a:focus {
  color: #000; /*Sets the text hover color on navbar*/
}

.navbar-expand-lg .navbar-nav > .active > a, .navbar-expand-lg .navbar-nav > .active >
      a:hover, .navbar-expand-lg .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-expand-lg {
  background-color: #0f006f;
  border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-expand-lg .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}