@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body{
  font-family: raleway, sans-serif;
  font-weight: 300;
  color: #009900
}

h1, h2 {
  font-family: roboto; sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525
}

#logo {
  float: left;
  font-size: 280%;
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

#menu, #logo{
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  border-bottom: 1px solid #009900;
}

.active {
  border-bottom: 1px solid #009900  ;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#hero-image{
  height: 700px;
  width: 100%;
  background: url('../images/football-2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}

.button {
  /*display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 15px 32px;
  overflow: hidden;
  margin:  4px 2px;
  position: relative;*/
  margin: 25px 50px 150px 100px;
  /*padding: 25px 50px 75px 100px;*/

}