{% extends "base.html" %}
{%load static %}
{% block content %}
<!-- Home Page -->
    <div class="container-fluid hero-container">
        <div class="row">
            <img src="https://res.cloudinary.com/dzqqmg1yp/image/upload/v1663506076/static/images/omar-medium.0e53a352518a.jpg" alt="Players playing soccer" class="hero-outer mx-auto pt-4">
        </div>

        <div class="row pt-4">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title text-center">Astro Riders Soccer group</h3>
                    <span class="card-text">
                        Astro Riders is a a football group for the community in Adamstown. Founded by a group of friends in September 2018, this football group has grown a lot since. The group is very diverse with members from different countries and various skill levels.
                    </span>
                </div>
            </div>
        </div>
    </div>

{%endblock%}