{% extends "base.html" %}
{%load static %}
{% block content %}

<header>
    <div class="container-fluid hero-container">
        <div class="row hero-outer hero-image img-fluid">
            <div class="col-12 bg-text">
                <h1>Teamer</h1>
                <p>Teamer is an online team management platform with native mobile app support, 
                    promising to give sports and leisure organizers the tools needed to run successful events.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <p class="text-justify">The Teamer App is completely free and is designed for teams to help manage and organise members!

            Teamer takes the hassle out of managing any sports team or social club.
            
            * Save time and money by letting Teamer take care of all your team communication.
            * Manage your group and access your all your member and event information pitch side!
            * Already a Teamer member? Download the app and login to see all your current team and club information!
            
            Are you new to Teamer? You can download the app, create a new team page and get started right away on your free mobile app!</p>
    </div>

</header>
{%endblock%}