{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Teamer</title>
</head>

<body>
    <header>
        <a href="index.html">
            <h1 id="logo">Teamer</h1>
        </a>
        <nav>
            <ul id="menu">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="teams.html" class="active">Members</a>
                </li>
                <li>
                    <a href="events.html">Events</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
            </ul>
        </nav>

    </header>
    <section id="hero-outer">
        <div id="hero-image"></div>
    </section>

    <div class="playersContainer">
        <form action="/submitaddmember" method="POST">
            {% csrf_token %}
            <input type="text" id="" name="fname" placeholder="fname" aria-label="Enter first name" required><br><br>
            <input type="text" id="lname" name="lname" placeholder="lname" aria-label="Enter last name"><br><br>
            <input type="email" id="email" name="email" placeholder="Email" required aria-label="Enter email"><br><br>
           
            <input type="submit" value="Submit" class="btn-contactus-submit" aria-label="Click submit"><br>
        </form>
    </div>
</body>

</html>