{% extends "base.html" %}

{% block content %}



    <div class="playersContainer">
        <form action="/submitaddmember" method="POST">
            {% csrf_token %}
            <input type="text" id="" name="fname" placeholder="fname" aria-label="Enter first name" required><br><br>
            <input type="text" id="lname" name="lname" placeholder="lname" aria-label="Enter last name"><br><br>
            <input type="email" id="email" name="email" placeholder="Email" required aria-label="Enter email"><br><br>
           
            <input type="submit" value="Submit" class="btn-contactus-submit" aria-label="Click submit"><br>
        </form>
    </div>

{%endblock%}
