{% extends "base.html" %}

{% block content %}


    <div id="container" class="playersContainer">
       
        <div class="margin-40px-tb">
          <ul class="list-style9 no-margin">
              <li>

                  <div class="row">
                      <div class="col-md-5 col-5">
                          <i class="text-orange"></i>
                          <strong class="margin-10px-left text-orange">Event Name:</strong>
                      </div>
                      <div class="col-md-7 col-7">
                          <p>{{ event.name }}</p>
                      </div>
                  </div>

              </li>
              <li>

                <div class="row">
                    <div class="col-md-5 col-5">
                        <i class="text-orange"></i>
                        <strong class="margin-10px-left text-orange">Place:</strong>
                    </div>
                    <div class="col-md-7 col-7">
                        <p>{{ event.place}}</p>
                    </div>
                </div>

            </li>
            <li>

              <div class="row">
                  <div class="col-md-5 col-5">
                      <i class="text-orange"></i>
                      <strong class="margin-10px-left text-orange">Time:</strong>
                  </div>
                  <div class="col-md-7 col-7">
                      <p>{{ event.time}}</p>
                  </div>
              </div>

            </li>
            <li>

              <div class="row">
                  <div class="col-md-5 col-5">
                      <i class="text-orange"></i>
                      <strong class="margin-10px-left text-orange">Place:</strong>
                  </div>
                  <div class="col-md-7 col-7">
                      <p>{{ event.place}}</p>
                  </div>
              </div>

            </li>
            <li>

              <div class="row">
                  <div class="col-md-5 col-5">
                      <i class="text-orange"></i>
                      <strong class="margin-10px-left text-orange">Players:</strong>
                  </div>
                  <div class="col-md-7 col-7">
                    <ul>
                      {% for x in members %}
                      <li>
                      {{ x }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
              </div>

            </li>
            </ul>
         </div>
       
        <form class="d-inline" action="{% url 'add_member_to_event' event.id %}" method="Post">
            {% csrf_token %}
            <!-- To do - Show add me to event only if the members array doesn't have current user
            if not show remove me from event button -->

            {{members}}
            
            {% if user.username in members %}
            <button type="submit" name="post_id" value="" ><span>Delete me from event</span></button>
            {% else %}
            <button type="submit" name="post_id" value="" ><span>Add me to event</span></button>
            {% endif %}
        </form>
    </div>
    {%endblock%}
    