{% extends "base.html" %}

{% block content %}
  <div >
    <div id="container container-custom" class="member-details">
        <table class="table" >
            <!--Event details-->
            <tbody>
              <tr>
                <th scope="row">Event Name</th>
                <td>{{ event.name }}</td>
              </tr>
              <tr>
                <th scope="row">Organizer</th>
                <td>{{ event.created_by }}</td>
              </tr>
              <tr>
                <th scope="row">Place</th>
                <td>{{ event.place }}</td>
              </tr>
              <tr>
                <th scope="row">Date/Time</th>
                <td>{{ event.date }} {{ event.time }}</td>
              </tr>
              <tr>
                <th scope="row">Who's playing</th>
                <td>
                    <ul class="bulletless">
                        {% for x in members %}
                        <li>
                        {{ x }}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
              </tr>
            </tbody>
        </table>

        {% if current_member in members %}
        <form class="d-inline" action="{% url 'delete_member_from_event' event.id %}" method="POST">
            {% csrf_token %}
            <button  type="submit" name="post_id" value="" class="btn btn-danger"><span>Delete me from this Game</span></button>
        </form>
        {% else %}
        <form class="d-inline" action="{% url 'add_member_to_event' event.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="" class="btn btn-success"><span>Add me to this Game</span></button>
        </form>
        {% endif %}

        {% if current_member == event.created_by %}
        <form class="d-inline" action="{% url 'delete_event' event.id %}" method="POST">
            {% csrf_token %}
            <button  type="submit" name="post_id" value="" class="btn btn-danger"><span>Delete this Game</span></button>
        </form>
        {% endif %}
    
    </div>
  </div>

{%endblock%}