{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Events Page -->
<div class="event-schedule-area-two" style="margin-top: 20px;">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Date/Time</th>
                                        <th scope="col">Organizer</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Venue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in events %}
                                    <tr class="inner-box">
                                        <th scope="row">
                                            <span>{{ event.date  }} {{ event.time  }}</span>
                                        </th>
                                        <td>
                                            <span>{{ event.created_by  }}</span>
                                        </td>
                                        <td>
                                            <span><a  href="{% url 'get_event_details' event.id %}">{{ event.name  }}</a></span>
                                        </td>
                                        <td>
                                            <span>{{ event.place  }}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-custom" style="padding: 20px;">
  <a href="/addevent" class="btn btn-primary">Create new Event</a>
</div>

{%endblock%}